run = """
bundle --path
rails server --binding=0.0.0.0
"""

entrypoint = "app/controllers/application_controller.rb"

hidden = [".bundle"]

[env]
PATH = "/home/runner/${REPL_SLUG}/bin"

[packager]
language = "ruby"

[packager.features]
packageSearch = true
guessImports = true

[languages.ruby]
pattern = "**/*.rb"
